.container{
    position: relative;
    padding-top: 8%;
}

.review{
    width: 43%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
    background-color: aliceblue;
    text-align: left;
    font-size: 13px;
    
}

.contact{
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
    background-color: aliceblue;
    padding: 15px;
    font-size: 15px;
}

.checked {
    color: orange;
}

input[type="radio"]{
    display: none;
}

.star{
    cursor: pointer;
    transition: color 200ms;
}

.write-review{
    width: 80%;
    background-color: #5c5340;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
    z-index: 2;
}

.solid{
    color:#999;
    font-weight: normal;
}

.star-div{
    padding: 35px;
}

.edit{
    position: absolute;
    top: 10px;
    right: 10px;
}

.edit-modal{
    background-color: #cec9be;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    padding: 15px;
    margin-top: 70px;
}